/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .grid-item {
    background-color: #F2E9E4;
    padding: 20px;
    text-align: center;
  }
  @media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
    h2 {
      font-size: 18px;
    }
  }
  .project_img {
    width: 450px;
    height: auto;
    border-radius: 10px;
  }
  .project_link {
    text-decoration: none;
    color: #1900ff;
    padding: 20px 0 20px 0;
  }
  .project_link:visited {
    text-decoration: none;
    color: #1101a0;
  }
